@(form: Form[SigninController.Signin])
<!DOCTYPE html>
<html lang="en">
@views.html.head("Signin")
<link href="@routes.Assets.at("stylesheets/signin.css")" rel="stylesheet">
<body>

	<div class="container">
		<form class="form-signin" role="form" action="/signin" method="POST">
			<h2 class="form-signin-heading">Please sign in</h2>
			@if(form.hasGlobalErrors) {
			<p class="error">@form.globalError.message</p>
			} 
			<input type="email" name = "email" class="form-control" placeholder="Email address" required autofocus>
			<input type="password" name = "password" class="form-control" placeholder="Password" required>
			<label class="checkbox"> <input type="checkbox"
				value="remember-me"> Remember me
			</label>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
	</div>
	<!-- /container -->

</body>
</html>
