@(form: Form[PostController.Post], article: Article)
<!DOCTYPE HTML>
<html>
<head>
@views.html.head("edit")
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>UMEDITOR 完整demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="@routes.Assets.at("stylesheets/umeditor/umeditor.css")" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/umeditor/jquery.min.js")"></script>
    <script type="text/javascript" charset="utf-8" src="@routes.Assets.at("javascripts/umeditor/umeditor.config.js")"></script>
    <script type="text/javascript" charset="utf-8" src="@routes.Assets.at("javascripts/umeditor/umeditor.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/umeditor/zh-cn.js")"></script>
    
    <link href="@routes.Assets.at("stylesheets/post/post.css")" rel="stylesheet">
</head>
<body>
@views.html.nav()
<!--style给定宽度可以影响编辑器的最终宽度-->

<div class="main-column">
	<form role="form" action="/edit" name="edit" method="POST">
		<input type="hidden" name="id" value=@article.id>
		<div class="input-group input-group-lg" id="title">
	  		<input type="text" name="title" class="form-control" value=@article.title>
		</div>
	
		<div class="editor">
			<script type="text/plain" id="myEditor" name="content" style="height:300px;">
    			@Html(article.content)
			</script>
			<script type="text/javascript">
    			//实例化编辑器
    			var um = UM.getEditor('myEditor');
			</script>
	
			<div class="editor-buttons">
				<div class="primary-actions">
					<a class="button button-primary" id="publish-button" tabindex="3" onclick="document.edit.submit()">保存</a>
				</div>
			</div>
		</div>
	</form>
</div>
</body>
</html>